[submodule "2019/09/17/stealthtacks-0281093"]
	path = 2019/09/17/stealthtacks-0281093
	url = https://github.com/bobbykjack/stealthtacks.git
[submodule "2019/10/02/bunner"]
	path = 2019/10/02/bunner
	url = https://github.com/bobbykjack/bunner.git
[submodule "2019/10/03/bunner-0.2"]
	path = 2019/10/03/bunner-0.2
	url = https://github.com/bobbykjack/bunner.git
